<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBHW1wOjCVbkM1ZKK6h0gzEVYQAOSzvd6w</string>
	<key>GCM_SENDER_ID</key>
	<string>502449802235</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.factorapp</string>
	<key>PROJECT_ID</key>
	<string>factorapp-5cc7a</string>
	<key>STORAGE_BUCKET</key>
	<string>factorapp-5cc7a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:502449802235:ios:f12ad93514ee201163d95e</string>
</dict>
</plist>